  
[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

jikanpy = "*"
giphy_client= "*"
youtube_dl ="*"
click ="*"
requests-toolbelt ="*"

[requires]

python_version = "3.8.1"